*{
    padding: 0;
    margin: 0;
}
a img{
    width: 50px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 1%;
}
.endereco h1{
    margin-left: 45%;
}
h1{
    color: #0b0229;
    margin-top: -2%;
    margin-bottom:1%;
    margin-left: 38%;
}
table{
    text-align: center;
    border: 2px solid #130052;
    padding: 5px;
    margin-bottom: 4%;
    
}
table td{
    border: 1px solid #3e1ea8;
    padding: 10px;
}
a{
    text-decoration: none;
}
button{
    width: 10%;
    height: 30px;
    background-color: #000a1a;
    color: aliceblue;
    margin-right: 5px;
    border-radius: 5px;
    transition: 2s;

}
button:hover{
    background-color: #3706d6;
}