*{
    margin:0;
    padding: 0;
}
body, html{
    height: 100%;
}
.clear{
    clear: both;
}
.cadastro img{
    width: 150px;
    height: 150px;
    display: flex;
    margin-left: 32%;
    padding: 5px;
}
.cadastro h1{
    color: #0f004a;
    text-align: center;
    margin-top: -100px;
    margin-left: 40px;
}
.form{
    width: 95%;
    font-size: 15px;
    text-align: center;
    padding:20px;
}
.form fieldset{
    padding: 20px;
}
.form legend{
    font-size: 25px;
    padding: 5px;
    color: #011c45;
}
.form select{
    width: 150px;
    padding: 7px;
}
.form input{
    padding: 5px;
    margin: 2px auto;
}
.form input[type=text]{
    width: 350px;
    padding: 7px;
}
.form input[type=submit], .form input[type=reset]{
    background-color: #070124;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 2s;
    margin-top: 10px;
    
}
.form input[type=submit]:hover{
    background-color:#027d02;
}

.form input[type=reset]:hover{
    background-color:#e00417;
}
.form input[type=number]{
    text-decoration: none;
    
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
.form-text input[type=text]{
    width: 200px;
}
.enviar label{
    border: 1px solid #0c0447;
    padding: 7px;
    border-radius: 5px;


}
#confirme{
    display: none;
    background-color: #050312;
    width: 20%;
    color: aliceblue;
    border-radius: 10px;
    float:right;
    margin-top: -70px;
    margin-right: 5%;
}
#confirme p{
    text-align: center;
    padding: 10px;
    padding: 10px;

}
#confirme button{
    width: 80px;
    height: 25px;
    background-color: #ffffff;
    transition: 2s;
    border-radius: 4px;
    text-align: center;
    margin-left: 33%;
    margin-top: -10px;
    margin-bottom: 10px;
    
}
#confirme button:hover{
    background-color:#00cc7e;
}

